@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #d5c7bc;
  --bg-color-header: #785964;
  --border-color: #454545;
  --card-color: #e9e3e6;
  --card-details-color: #586f6b;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

.bx {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-color-header);
  color: #eeeeee;
  padding: 2px 30px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid var(--border-color);
}

.title {
  font-family: "Yeseva One", cursive;
  font-size: 3rem;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 3px var(--border-color);
}

.buttons {
  display: flex;
}

.add,
.info {
  display: block;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color-header);
  color: #f5f1ed;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  transition: background-color ease 1s;
}

.buttons .bx {
  color: #f5f1ed;
  font-size: 2rem;
}

.info-para {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 0 auto;
  display: none;
  background-color: var(--card-details-color);
  color: #f5f1ed;
  text-align: center;
}

.info:hover,
.add:hover {
  background-color: var(--card-details-color);

}

main {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  justify-items: center;
}

.bxs-book-add {
  font-size: 2rem;
  color: var(--bg-color-header);
}

.card {
  background-color: var(--card-color);
  width: fit-content;
  border-radius: 20px;
  border: 2px solid var(--card-details-color);
  width: fit-content;
  height: fit-content;

  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card p {
  margin: 0;
}

.details {
  background-color: var(--card-details-color);
  width: 100%;
  padding: 5px 10px;
  border-radius: 17px 17px 0 0;
  color: var(--card-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.detailsContent {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 8px;
  padding: 3px;
}

.book {
  padding: 20px;
}

form {
  font-family: "Poppins", sans-serif;
  position: sticky;
  background-color: #9da3a4;
  padding: 14px;
  border-radius: 30px;
  border: 2px solid var(--bg-color-header);
  display: none;
  width: fit-content;
  margin: 20px auto;
}

input {
  font-family: "Poppins", sans-serif;
  display: block;
  border-radius: 20px;
  border: 2px solid var(--bg-color-header);
  text-align: center;
  margin: 10px;
}

select {
  display: block;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--bg-color-header);
  margin: 10px;
}

form button {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid var(--bg-color-header);
  padding: 3px 10px;
}

form button:hover {
  background-color: #cccccc;
}

@keyframes wordAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.appear-word {
  animation: wordAppear 1s ease-in normal forwards;
}
